<div class="container m-3" >
  <h2 class="title"><%= @task.title %></h2>
    <button class="d-flex justify-content-center" class="btn btn-white"><%= link_to "Edit", edit_task_path(@task.id) %></button>
    <p class="border border-3"><%= @task.details %></p>
      <%if @task.completed %>
        <p class="fa fa-check-square-o"><%= "This task is completed" %></p>
      <% else %>
        <p class="fa fa-square-o"><%= "This task is not completed" %></p>
      <% end %>
    <p><%= link_to "Back to list", tasks_path %></p>

    <%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>
